<%- include("header"); -%>

<h2 style="text-align: center; padding-top: 15px;">This is the about Page</h2>
<p style="text-align: center;">My name is Rajneesh Prasad and I ❤️ my Country India.</p>

<%- include("footer"); -%>